@charset "utf-8";
/*.content {
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 1000px;
}
.content .access {
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
}
.content .access h3 {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
	margin-left: 30px;

}
.access .add01 {
	padding-top: 20px;
	text-align: left;
	margin: 0 auto;
	width: 23em;
	padding-left: auto;
	padding-right: auto;
	background-color: #FFFFFF;
}
.access .add02  {
	padding: 0 auto;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	width: 28em;
	font-size: small;
	text-align: left;
}
.access .map {
	border: 3px solid rgba(208,168,43,1.00);
	margin: 0 auto;
	width: 600px;
}*/
