@charset "utf-8";
/*.accordion1 .inner {
    display: none;
}

li {
    margin: 0 auto;
}
p {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
h3 {
    border: 3px solid #6AB2C1;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 150px;
}
.content {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 1000px;
}*/
