@charset "utf-8";
/*.rule {
    margin: 0 auto;
    width: 800px;
}
.rule h3{
    border: 1px solid #000000;
    margin: 20px 5px;
    padding: 10px;
    width: auto;
	border: 2px solid #6AB2C1;
	border-radius: 10px;
}
.rule p{
	padding: 0 20px;
	margin: 10px 0 50px;
	line-height: 1.8;
}*/